.avs-address-container {
  display: flex;
  flex-direction: column;

  &__address {
    align-self: center;
  }
}

.avs-alert-container {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  &__text {
    padding-left: 5px;
    font-size: 16px;
  }
}

.add-display {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 18px;
  font-weight: 400;
}

.nowrap {
  white-space: nowrap;
  display: inline-block;
}
