.avs-address-container{
  display: flex;
  flex-direction: column;
  &__address{
    align-self: center;
    padding: 20px 0;
  }
}

.avs-alert-container{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  &__text{
    padding-left: 5px;
  }
}

.avs-addresslist{
  border: 1px solid #ACA8A8;
  border-radius: 5px;
  &-container{
    display: flex;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid #ACA8A8;
    &:last-child{
      border: 0;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__subtitle{
    color:#535353;
    font-size: 13px;
    padding-bottom: 5px;
  }
}