.avs-address-container{
  display: flex;
  flex-direction: column;
  &__address{
    align-self: center;
    padding: 20px 0;
  }
}

.avs-alert-container{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  &__text{
    padding-left: 5px;
  }
}