.product-image-container {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  min-height: 250px;
  min-width: 250px;
  cursor: pointer;
  .non-mobile-images {
    display: block;
    img.product-image {
      height: auto;
      left: 0;
      max-width: 100%;
      top: 0;
      z-index: 2;
      opacity: 1;
      transition: opacity 150ms ease-in-out;
    }
    img.product-image-on-hover {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
    &:hover {
      // img.product-image {
      //   // opacity: 0;
      // }
      img.product-image-on-hover {
        opacity: 1;
      }
    }
  }
  .mobile-images {
    display: none;
    img.product-image,
    img.product-image-on-hover {
      height: auto;
      max-width: 100%;
    }
  }
}
