@import "../../styles/abstracts/variables";
a.title-anchor {
  text-decoration: none;
}
.title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
  line-height: 1.5em;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  white-space: pre-wrap;
  width: 100%;
  padding-right: 1em;
  &:hover {
    color: $highlight-color;
    background: $primary-background;
  }
}
.title:hover ~ span.tooltip-title {
  visibility: visible;
  opacity: 1;
}
span.tooltip-title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 1rem;
  color: $primary-color;
  line-height: 1.25rem;
  background-color: $primary-background;
  padding: 5px;
  border-radius: 3px;
  max-width: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
