.pm-container {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #79787840;
  border: 0.2px solid #79787833;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;

  @media only screen and (max-width: 560px) {
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }
}

.pm-main-container {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media only screen and (max-width: 560px) {
    gap: 0px;
  }
}

.pm-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  border-bottom: 1px solid #959595;
  display: none;
}

@media only screen and (max-width: 560px) {
  .pm-container::after {
    display: block;
  }
}

.checkout-place-order {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.checkout-place-order-text {
  font-size: 14;
  font-weight: 100;
}

.checkout-method-click-to-pay-container {
  display: flex;

  @media only screen and (max-width: 560px) {
    flex-direction: column;
  }
}

.checkout-method-click-to-pay {
  display: flex;
  align-items: center;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  color: #000;
}

.checkout-method-click-to-pay-text {
  font-size: 16px;
  color: #646262;
  font-weight: 400;

  @media only screen and (max-width: 560px) {
    font-size: 12px;
  }

  .learn-more {
    color: #000;
  }
}

.checkout-method-click-to-pay-text-black {
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.checkout-method-save-information {
  min-width: 16rem;
  @media only screen and (max-width: 560px) {
    min-width: unset;
    width: 100%;
  }
}

.pm-sub-container {
  margin-top: 1.275rem;
  padding-bottom: 1.275px;
}

.pm-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pm-show-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  text-align: right;
}

.checkout-add-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #aca8a8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  color: #000;
  padding: 20px;

  @media only screen and (max-width: 560px) {
    padding: 20px 5px;
  }

  &-text {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
    text-decoration-skip-ink: none;

    @media only screen and (max-width: 560px) {
      font-size: 15px;
    }
  }
}

.checkout-add-card-text {
  cursor: pointer;
}
.checkout-add-new-card {
  @media only screen and (max-width: 560px) {
    max-width: 95px;
  }
}
