.pm-container {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #79787840;
  border: 0.2px solid #79787833;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  position: relative;

  &::after {
    content: none;
  }

  @media only screen and (max-width: 560px) {
    border-radius: 0px;
    border: none;
    box-shadow: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 90%;
      border-bottom: 1px solid #959595;
    }
  }
}

.pm-main-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
  position: relative;

  &::after {
    content: none;
  }

  @media only screen and (max-width: 560px) {
    gap: 0px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 90%;
      border-bottom: 1px solid #959595;
    }
  }
}

.checkout-place-order {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.checkout-place-order-text {
  font-size: 14;
  font-weight: 100;
}

.checkout-method-click-to-pay-container {
  display: flex;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.checkout-method-click-to-pay {
  display: flex;
  align-items: center;
  color: #000;
}

.checkout-method-click-to-pay-text {
  font-size: 16px;
  color: #646262;
  font-weight: 400;

  @media only screen and (max-width: 560px) {
    font-size: 12px;
  }

  &__learn-more {
    color: #000;
    padding-left: 5px;
  }
  &--sm {
    font-size: 13px;
    font-weight: 300;
  }
  &--black {
    font-weight: 600;
    font-size: 16px;
    color: black;
  }
}

.checkout-method-save-information {
  min-width: 16rem;
  padding-left: 10px;
  @media only screen and (max-width: 768px) {
    min-width: unset;
    width: 80%;
  }
  &__text {
    font-size: 13px;
    font-weight: 300;
  }
  &__add-btn {
    cursor: pointer;
  }
}

.pm-sub-container {
  margin-top: 1.275rem;
  padding-bottom: 1.275px;
}

.pm-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pm-show-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
}

.checkout-add-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #aca8a8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  color: #000;
  padding: 20px;

  @media only screen and (max-width: 560px) {
    padding: 20px 5px;
  }

  &-text {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.09px;
    text-align: left;
    text-decoration-skip-ink: none;

    @media only screen and (max-width: 560px) {
      font-size: 15px;
    }
  }
}

.payment-creditcard-wrapper {
  display: flex;
  gap: 5px;
}
.checkout-add-card-text {
  cursor: pointer;
  flex: 1;
  gap: 1rem;
}

.checkout-add-new-card {
  height: 24px;
}
.checkout-add-new-card-image {
  height: 25px;
  display: flex;
  gap: 5px;
}

@media only screen and (max-width: 560px) {
  .checkout-add-new-card {
    max-width: 95px;
    height: 24px;
  }
  .payment-option-add-container__card-title {
    font-weight: 500;
    font-size: 14.52px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}