.radio-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.radio-style {
  appearance: none;
  margin: 0;
  width: 20px !important;
  height: 20px  !important;
  border: 2px solid #1D2337  !important;
  border-radius: 50%  !important;
  transition: all 0.1s ease-in-out  !important;

  // Pseudo-element for the inner circle
  &::after {
    content: "";
    display: block  !important;
    border-radius: 50%  !important;
    width: 12px  !important;
    height: 12px  !important;
    margin: 2px  !important;
  }

  // Checked state styling
  &:checked::after {
    background-color: #1D2337  !important;
  }

}
