.radio-wrapper {
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.radio-style {
  appearance: none;
  -webkit-appearance: none;
  position: relative !important;
  width: 20px !important;
  height: 20px !important;
  transition: all 0.1s ease-in-out !important;
  cursor: pointer !important;
  margin: 0 !important;

  // Pseudo-element for the inner circle
  &::after {
    content: "";
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    border: 1px solid #000 !important;
    border-radius: 50% !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
    margin: 0 !important;
  }

  // Checked state styling
  &:checked::after {
    background-color: #1d2337 !important;
    box-shadow: inset 0 0 0 2px #fff !important;
  }

  label {
    cursor: pointer;
  }
}
