.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item-detail-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 14px;
  position: relative;
  flex: 1;
  width: 100%;
}

.item-image {
  min-height: auto;
  min-width: auto;
  flex-shrink: 0;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  text-align: left;
  width: 100%;
  flex: 1;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.header-block {
  display: flex;
  flex-direction: column;
}

.price-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quantity-dropdown-container {
  .form-field {
    .input-container {
      width: 40px;
      height: 24px;
      min-height: auto;
      padding: 0px;
      margin-bottom: 0px;
    }
  }
  .field-item-container {
    margin-bottom: 0px;
  }
}
.quantity-selector {
  display: flex;
  gap: 5px;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.quantity-dropdown-container99 {
  width: 80px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.item-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  // @media only screen and (max-width: 560px) {
  //   font-weight: 400;
  // }
}

.item-cancel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  text-align: left;
  cursor: pointer;
}

.item-cashback {
  display: flex;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}

.item-cashback-value {
  margin-right: 2px;
}

.item-options {
  display: flex;
  &__row {
    word-break: break-all;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.item-autoship {
  padding: 5px 0;
  font-weight: bold;
}

.item-autoship-frequency {
  font-weight: bold;
}

.shippingItem-priceStr {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  margin: 0;
}
