@use "../styles/abstracts/mixins" as *;

.payment-option-container {
  @extend %container-base;
  gap: 9rem;

  &.end {
    @include rounded-borders(bottom);
  }

  &.start {
    @include rounded-borders(top);
  }

  &.selected {
    background-color: #f0f1f7;
    border: 1px solid black;
  }

  &__method {
    display: flex;
    flex-direction: row;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;

    &-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }

    &-number {
      font-size: 16px;
      font-weight: 400;

      @media only screen and (max-width: 560px) {
        font-size: 12px;
      }
    }

    &-img {
      max-width: 30px;
      border: 0.5px solid #000000;
      border-radius: 2px;
      padding: 2px;
    }

    &-expiration {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;

      @media only screen and (max-width: 560px) {
        font-size: 11px;
      }
    }

    &-cvv {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;

      @media only screen and (max-width: 560px) {
        font-size: 12px;
        align-items: flex-start;
        flex-direction: column;
        gap: 0px;
        line-height: 5px;
      }
    }

    &-cvv-form {
      padding: 0 4px;
      vertical-align: middle;
      border-radius: 3px;
      background-color: #ffffff;
      border: 1px solid #000000;
      font-size: 16px;
      min-height: 42px;
      line-height: 18px;
      font-weight: normal;
      max-width: 40%;

      @media only screen and (max-width: 560px) {
        &::placeholder {
          font-size: 12px;
        }

        width: 100px;
        min-height: 20px;
      }
    }

    &-card-cvv-sub {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
    }

    &-cvv-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-cvv-edit {
      font-size: 18px;
      line-height: 21px;
      text-decoration: underline;
      font-weight: 400;
      cursor: pointer;
      @media only screen and (max-width: 560px) {
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 560px) {
    padding: 14px 5px;
  }
}

.payment-option-add-container {
  &__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-title {
      font-weight: 500;
      font-size: 18px;
    }
    @media only screen and (max-width: 320px) {
      .checkout-add-new-card {
        display: none;
      }
    }
  }
}

.payment-option-sub-container {
  @include flex-row;
  gap: 1rem;
  font-weight: 400;
  font-size: 16px;
  min-width: 9rem;
  flex: 1;

  @media only screen and (max-width: 560px) {
    gap: 0px;
  }
}

.form-mode {
  padding-bottom: 14px;
  border-bottom: 1px solid #888888;
}

.payment-option-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-option-container__card-img {
  width: 130px;
}

.payment-option-name {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex: 1;
  align-items: center;

  @media only screen and (max-width: 560px) {
    font-size: 15px;
  }
}

.error-message {
  display: flex;
  align-items: center;
  background-color: #f0f1f7;
  /* Light red background */
  border: 1px solid #79787880;
  /* Subtle red border */
  /* Rounded corners for modern look */
  padding: 8px 12px;
  /* Add padding for better spacing */
  color: black;
  /* Dark red text color for contrast */
  font-family: "Inter", sans-serif;
  font-size: 14px;
  /* Adjust text size */
  font-weight: 400;
  /* Regular weight for readability */
  margin-top: 8px;
  /* Add spacing above the message */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for elevation */
  position: relative;
  min-height: 1.8rem;
}

.cvv-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0%;
}