div,
section,
ul,
li {
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

section,
div {
  display: block;
}

img {
  border: 0;
}

p {
  margin: 5px 0;
}

a {
  color: $primary-color;
  &:hover {
    color: $highlight-color;
  }
}
