@use '../styles/abstracts/mixins' as *;

.shipping-option-container {
  @extend %container-base;
  gap: 9rem;

  &.end {
    @include rounded-borders(bottom);
  }

  &.start {
    @include rounded-borders(top);
  }

  &.selected {
    background-color: #f0f1f7;
    border: 1px solid black;
  }
}

.shipping-option-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shipping-option-sub-container {
  @include flex-column;
  font-weight: 400;
  font-size: 16px;
  min-width: 9rem;
}

.shipping-option-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.shipping-option-autoship {
  font-size: 12px;
  padding: 5px 0 0 35px;
}
