@use "../styles/abstracts/mixins" as *;

.shipping-option-container {
  @extend %container-base;
  gap: 9rem;
  cursor: pointer;

  &.end {
    @include rounded-borders(bottom);
  }

  &.start {
    @include rounded-borders(top);
  }

  &.selected {
    background-color: #f0f1f7;
    border: 1px solid black;
  }

  @media only screen and (max-width: 560px) {
    padding: 14px 16px;
  }
}

.shipping-option-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.shipping-option-sub-container {
  @include flex-column;
  font-weight: 400;
  font-size: 16px;
  min-width: 9rem;
  flex: 1;

  .shipping-option-estShipDate {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
  }
}

.shipping-option-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  flex: 1;

  @media only screen and (max-width: 325px) {
    gap: 0px;
  }
}

.shipping-option-autoship {
  font-size: 12px;
  padding: 5px 0 0 35px;
}
.shipping-option-autoship-no-padding {
  padding: 5px 0 0 0;
}

.shipping-option-office {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 2px solid #aca8a8; // Added thickness for better visibility
  padding-top: 10px;
  margin-top: 10px; // Adds spacing after the border

  ul {
    list-style-type: decimal; // Makes the list numbered
    padding-left: 10px; // Adds indentation for better alignment
  }

  li {
    margin-bottom: 4px;
  }
}
.shipping-option-office-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0%;
}

.shipping-option-office-address {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
}

.shipping-option-shipDisc-wrapper {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.shipping-option-shipDisc-span {
  font-size: 18px;
  font-weight: 600;
}
.shipping-option-shipDisc-strikeout {
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.6;
}
