.tm-container {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #79787840;
  border: 0.2px solid #79787833;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  gap: 4px;

  @media only screen and (max-width: 560px) {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    gap: 0px;
  }
}

.tm-form-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 36px;
  align-items: flex-start;
  width: 100%;
  .field-item-container {
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
}

.qa-mobile-texts {
  flex: 1;
}

.save-for-later-txtupdate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 33px;

  .field-item-container {
    .input-wrapper {
      width: auto;
    }
  }

  @media (min-width: 651px) and (max-width: 1024px) {
    margin-top: 4.5%;
  }
  @media (max-width: 425px) {
    font-size: 13px;
  }

  .field-item-container {
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
}

.form-field-label {
  font-size: 15px;
  margin-bottom: 4px;
}

.tm-form-row {
  display: flex;
  flex-direction: row;
}

.tm-rates {
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  line-height: 15.23px;
  text-align: left;
  color: #212121;

  @media only screen and (max-width: 560px) {
    display: none;
  }
}

.tm-rates-mobile {
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  line-height: 15.23px;
  text-align: left;
  color: #212121;
  margin-bottom: 10px;

  @media only screen and (min-width: 561px) {
    display: none;
  }
}

.save-for-later-txtupdate .checkbox {
  margin-top: 0;
}

.tm-form-container .field-item-container {
  display: flex;
  flex-direction: column;
}

.form-field-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.save-for-later-txtupdate .field-item-container {
  flex-direction: row !important;
}

@media (max-width: 560px) {
  .tm-form-container {
    flex-direction: column;
    gap: 20px;
    .field-item-container {
      min-width: auto;
      width: 100%;
    }
  }

  .save-for-later-txtupdate {
    margin-top: 0px;
  }
}
