.Genealogy {
    .mfe-genealogy {
        body {
            background-color: white;
        }

        .header-image {
            position: relative;
            width: 100%;
        }

        #root {
            width: 100vw;
            height: 100vw;
            text-align: center;
        }

        .card {
            padding: 2em;
        }

        .read-the-docs {
            color: #888;
        }

        .app {
            display: flex;
            flex-direction: column;
            padding: 20px;
            box-sizing: border-box;
        }

        .search {
            display: flex;
            margin-bottom: 20px;

            &__with-button {
                display: flex;
                gap: 5px;

                .btn {
                    background: #000;
                    border: none;
                    font: {
                        family: "Roboto-Black";
                        size: 0.6rem;
                    }
                    color: #fff;
                    padding: 0 12px;
                    border-radius: 6px;
                    cursor: pointer;
                }
            }
        }

        .group {
            display: flex;
            gap: 10px;
            height: 70vh;
        }
    }
}
