.arrow {
  border: solid #1c1b1f;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  height: 8px;
  width: 8px;
}

.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left-arrow {
  transform: rotate(135deg) translateY(-50%);
  -webkit-transform: rotate(135deg) translateY(-50%);
}
