a.mfe-button,
button.mfe-button {
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-weight: 500;
  min-height: 40px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;
  color: white;
  background-color: #414467;
  border-radius: 40px;
  border: none;
  &:hover {
    background-color: #202340;
    color: white;
  }
}
