body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #79787840;
  border: 0.2px solid #79787833;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}

.form-header {
  display: flex;
  padding-bottom: 20px;
}

.form-field-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 21px;
  margin-top: 10px;
}

.form-field-container-full {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.form-footer {
  display: flex;
  margin-top: 20px;
}
