body {
  font-family: "Roboto", "Inter", Arial, Helvetica, sans-serif;
}

.checkout-container-wrapper {
  min-height: 500px;
  background: #f6f6f6;
  margin-top: -10px;
}

.checkout-form-container {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #79787840;
  border: 0.2px solid #79787833;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  position: relative;

  &::after {
    content: none;
  }

  @media only screen and (max-width: 560px) {
    border-radius: 0px;
    border: none;
    box-shadow: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 90%;
      border-bottom: 1px solid #959595;
    }
  }

  &__hide {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .shipping-address-form::after {
    display: block;
  }
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-field-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 21px;
  @media (max-width: 425px) {
    flex-direction: column;
    gap: 0px;
  }
}

.form-field-container-full {
  display: flex;
  width: 100%;
  margin-top: 10px;
  @media (max-width: 425px) {
    margin-top: 0px;
  }
}

.form-footer {
  display: flex;
  margin-top: 20px;
  @media (max-width: 425px) {
    margin-top: 0px;
  }

  &__dual-button {
    gap: 20px;
  }
}

.form-field-container,
.form-field-container-full {
  transition: max-height 0.3s ease-in-out;
}

.accordion {
  cursor: pointer;
  transform-origin: center;
  align-self: center;
  width: auto;
  height: auto;
  background: none;
  transition: transform 0.3s ease-in-out; // Smooth rotation

  &.open {
    transform: rotate(180deg); // Rotate the arrow when open
  }

  &.close {
    transform: rotate(0deg); // Default position when closed
  }
}

.shipping-address {
  font-size: 18px;
  margin-top: 9px;
}

.card-information-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 16px;
}

.addresslist {
  border: 1px solid #aca8a8;
  border-radius: 5px;

  &-container {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #aca8a8;

    &:last-child {
      border: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    color: #535353;
    font-size: 13px;
    padding-bottom: 5px;
  }
}

.error-address-verification {
  margin-bottom: 10px;
}
.error-msg {
  background: #f0f1f7;
  color: #202340;
  border-left: 5px solid #ff1f35;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;

  &--padding {
    padding: 10px;
  }

  &--bold {
    font-weight: bold;
  }

  &__detail {
    font-size: 13px;
    padding-top: 10px;
  }
}

.loading-order-conf {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.error-message {
  display: flex;
  align-items: center;
  background-color: #f0f1f7;
  /* Light red background */
  border: 1px solid #79787880;
  /* Subtle red border */
  border-radius: 8px;
  /* Rounded corners for modern look */
  padding: 8px 12px;
  /* Add padding for better spacing */
  color: black;
  /* Dark red text color for contrast */
  font-family: "Inter", sans-serif;
  font-size: 14px;
  /* Adjust text size */
  font-weight: 400;
  /* Regular weight for readability */
  margin-top: 8px;
  /* Add spacing above the message */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for elevation */
  position: relative;
  min-height: 1.8rem;
}

.error-message::before {
  content: "";
  display: block;
  width: 6px;
  /* Width of the left red bar */
  height: 100%;
  background-color: #d32f2f;
  /* Red bar color */
  border-radius: 4px 0 0 4px;
  /* Round the left side of the bar */
  position: absolute;
  left: 0;
  top: 0;
}

//styles copied from error message
.alert-message {
  display: flex;
  align-items: center;
  background-color: #f0f1f7;
  border: 1px solid #79787880;
  border-radius: 8px;
  /* Rounded corners for modern look */
  padding: 8px 12px;
  /* Add padding for better spacing */
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  /* Adjust text size */
  font-weight: 400;
  /* Regular weight for readability */
  margin-top: 8px;
  /* Add spacing above the message */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for elevation */
  position: relative;
  min-height: 1.8rem;
}

.alert-message::before {
  content: "";
  display: block;
  width: 6px;
  /* Width of the left red bar */
  height: 100%;
  background-color: #2b9dca;
  border-radius: 4px 0 0 4px;
  /* Round the left side of the bar */
  position: absolute;
  left: 0;
  top: 0;
}

%overlay-main {
  background: #fff;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 55px rgb(0, 0, 0);
  z-index: 1;
}

.overlay-simple {
  @extend %overlay-main;

  &--no-padding {
    padding: 0;
  }
}

.overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 0;
  padding-top: 100px;
  z-index: 16;
  text-align: center;
  overflow-y: auto;
}

.max-500 {
  max-width: 500px;
  width: 100%;
}
