body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #79787840;
  border: 0.2px solid #79787833;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  min-width: 34.813rem;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-field-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 21px;
  margin-top: 21px;
}

.form-field-container-full {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.form-footer {
  display: flex;
  margin-top: 20px;
}

.form-field-container,
.form-field-container-full {
  transition: max-height 0.3s ease-in-out;
}

.accordion {
  cursor: pointer;
  transform-origin: center;
  align-self: center;
  transition: transform 0.3s ease-in-out; // Smooth rotation

  &.open {
    transform: rotate(180deg); // Rotate the arrow when open
  }

  &.close {
    transform: rotate(0deg); // Default position when closed
  }
}


.shipping-address {
  font-size: 18px;
  margin-top: 9px;
}

.card-information-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 16px;
}


