.total-amount__wrapper {
  display: none;
  background-color: #fff;
  padding-top: 13px;
}

.total-amount__main {
  border-bottom: 1px solid #959595;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
}

.total-amount__label, .total-amount__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000;
}

@media only screen and (max-width: 1024px) {
  .total-amount__wrapper {
    display: block;
  }
}
