.shipping-options-container {
  margin-top: 10px;
  &__ship_selection {
    font-size: 13px;
    display: flex;
    justify-content: right;
    padding-bottom: 10px;
  }
}
.change-shipping-method {
  cursor: pointer;
  margin-right: 5px;
}

@media screen and (max-width: 1024px) {
  .shipping-options-container {
    &__ship_selection {
      display: none;
    }
  }
}
