.reward-container {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 5px;
}

.coupon-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;

  .coupon-label {
    font-size: 13px;
  }
  .coupon-tag {
    color: black;
    font-weight: 300;
    padding: 2px 6px;
    border: 1px dashed #5e5e5e;
    background-color: #f0f1f7;
    border-radius: 2px;
    font-size: 12px;
  }
}

.free-shipping-label {
  font-size: 13px;
  font-weight: 300;
  margin: 0 0 5px 0;
}
