@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin rounded-borders($position: both, $radius: 5px) {
  @if $position == both {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  } @else if $position == top {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  } @else if $position == bottom {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

@mixin underlined-text {
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  font-weight: 400;
}

%container-base {
  padding: 14px 24px;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #aca8a8;
}
