.product-meta-tag-container {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  .product-meta-tag {
    border: 1px solid #3c7c90;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
    color: #3c7c90;
  }
}
