.field-item-container {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  width: 100%;
}

.required-field::after {
  content: "*";
  color: red;
}

.input-container {
  padding: 0 4px;
  vertical-align: middle;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 16px;
  min-height: 42px;
  line-height: 18px;
  font-weight: normal;
}

.field-extra-label {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 4px;
}
