.product-store-component-container {
  padding: 0 30px;
}

.product-store-list-container {
  position: relative;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  grid-gap: 20px;
  padding: 10px 0;
}

.product-store-list-container-partial {
  padding: 10px 0;
  position: relative;
}
@media only screen and (max-width: 960px) {
  .product-store-list-container {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}
@media only screen and (max-width: 545px) {
  .product-store-list-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .product-store-list-container-partial {
    .nav-button-prev-circle,
    .nav-button-next-circle {
      display: none;
    }
  }
}

@media only screen and (max-width: 445px) {
  .product-store-list-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}
