.custom-button {
  display: flex;
  width: 100%; // Ensures the button takes full width
  background-color: #1d2337; // Dark navy color as default
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0; // Removed horizontal padding to avoid conflict with full width
  border: none;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center; // Ensures content is vertically centered
  img {
    height: 20px;
    padding-left: 5px;
  }
  @media (max-width: 425px) {
    font-size: 14px;
  }
}

// Primary Button Styles
.custom-button.primary {
  background-color: #1d2337; // Dark navy color for primary
  color: #ffffff; // White text
}

// Secondary Button Styles
.custom-button.secondary {
  background-color: #ffffff; // White background for secondary
  color: #202340; // Dark text
  border: 1px solid #202340; // Optional: adding border for better contrast
}

.custom-button.paypal {
  background-color: #0065b1; // White background for secondary
  color: #ffffff; // Dark text
}

.custom-button.sezzle {
  background-color: #4d3e69; // White background for secondary
  color: #ffffff; // Dark text
}

// Secondary Button Styles
.custom-button.disabled,
.custom-button:disabled {
  background-color: #ffffff; // White background for secondary
  color: #202340; // Dark text
  border: 1px solid #202340; // Optional: adding border for better contrast
  cursor: not-allowed; // Indicate non-interactivity
  opacity: 0.6; // Slightly faded to show it's disabled
  pointer-events: none; // Prevents any interaction
}
