.custom-button {
  display: flex;
  background-color: #1d2337; // Dark navy color
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  width: 100%;
}
