html,
body,
* {
  font-family: "Roboto", "Inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Container Styling */
#app {
  background-color: #f6f6f6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.checkout-container {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.checkout-container .left-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  box-sizing: border-box;
}

.checkout-container .right-column {
  position: sticky;
  width: 40%;
  box-sizing: border-box;
}
.checkout-container .top-1 {
  top: 1rem;
}
.checkout-container .top-475 {
  top: 4.75rem;
}

.error-message {
  color: black;
  padding-top: 5px;
}

@media (max-width: 1024px) {
  .checkout-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
  }

  .checkout-container .left-column,
  .checkout-container .right-column {
    width: 100%;
  }

  /* Shipping method component */
  .shipping-option-container {
    gap: 1rem !important;
  }

  /* Mobile updates component */
  .tm-form-container > div {
    width: 100%;
  }

  .field-item-container,
  .save-for-later {
    min-width: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 560px) {
  .checkout-container {
    padding: 0;
    gap: 0;
  }

  .checkout-container .left-column {
    gap: 0;
    &::after {
      content: none;
    }

    @media only screen and (max-width: 560px) {
      gap: 0px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 90%;
        border-bottom: 1px solid #959595;
      }
    }
  }

  .checkout-container .right-column {
    width: 100%;
  }
}
