html,
body {
  font-family: "Roboto", "Inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Container Styling */
.container {
  background-color: #f6f6f6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Container Styling */
.checkout-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

/* Styling for Left Column */
.checkout-container .left-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  box-sizing: border-box;
}

/* Styling for Right Column */
.checkout-container .right-column {
  width: 40%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .checkout-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
  }
  .checkout-container .left-column, .checkout-container .right-column {
    width: 100%;
  }
}