@use "../../styles/abstracts/mixins" as *;

.payment-option-container {
  @extend %container-base;
  gap: 9rem;
  cursor: pointer;

  &.end {
    @include rounded-borders(bottom);
  }

  &.start {
    @include rounded-borders(top);
  }

  &.selected {
    background-color: #f0f1f7;
    border: 1px solid black;
  }
  &__method {
    display: flex;
    flex-direction: row;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
    &-img {
      max-width: 30px;
      border: 0.5px solid #000000;
      border-radius: 2px;
      padding: 2px;
    }
    &-expiration {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
    }
    &-cvv {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      line-height: 18px;
    }
    &-cvv-form {
      padding: 0 4px;
      vertical-align: middle;
      border-radius: 3px;
      background-color: #ffffff;
      border: 1px solid #000000;
      font-size: 16px;
      min-height: 42px;
      line-height: 18px;
      font-weight: normal;
      max-width: 40%;
    }
    &-card-cvv-sub {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
    }
    &-cvv-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-cvv-edit {
      font-size: 18px;
      line-height: 21px;
      text-decoration: underline;
      font-weight: 400;
    }
  }
}

.payment-option-sub-container {
  @include flex-row;
  gap: 1rem;
  font-weight: 400;
  font-size: 16px;
  min-width: 9rem;
}

.payment-option-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-option-name {
  font-size: 18px;
  font-weight: 500;
}
