/* Place Order Button Styling */
.checkout-place-order {
  display: flex;
  align-items: center;
  width: 100%;

  form {
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
}

.checkout-place-order-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 15.23px;
  text-align: left;
  &__heading {
    font-weight: bold;
    padding: 5px 0;
  }
  &__note {
    padding: 10px 0;
  }
}

.checkout-place-order-autoship {
  padding: 10px 0;
}
