/* Place Order Button Styling */
.checkout-place-order {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;

  form {
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    button.custom-button.primary {
      padding: 12px 24px;
    }
  }
}

.checkout-place-order-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
  &__flex {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__box {
    transition: height 200ms ease-in-out;
  }
  &__open {
    height: auto;
  }
  &__close {
    height: 0;
    overflow: hidden;
  }
  &__heading {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
  }
  &__note {
    padding: 10px 0;
  }
}
.checkout-place-order-text-terms-policy {
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
  margin-bottom: 8px;
}

.error-message-order {
  background: #f0f1f7;
  color: #202340;
  border: 2px solid red;
  border-left: 5px solid #ff1f35;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  &--bold {
    font-size: 16px;
    font-weight: bold;
  }

  &__detail {
    font-size: 13px;
    padding-top: 10px;
  }
}

.checkout-place-order-autoship {
  padding: 5px 0;
}
