.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  @media only screen and (max-width: 545px) {
    padding: 1rem;
  }

  h2 {
    font-size: 1.375rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #000000;
    @media only screen and (max-width: 545px) {
      font-size: 22px;
    }
  }

  p {
    font-size: 1rem;
    color: #666666;
    font-weight: 300;
    margin-bottom: 1rem;
    @media only screen and (max-width: 545px) {
      font-size: 14px;
    }
  }

  .feedback-button {
    padding: 0.75rem 6rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #2a2f4f;
    border: none;
    font-weight: 500;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @media only screen and (max-width: 545px) {
      font-size: 14px;
    }

    &:hover {
      background-color: #1a1a3c;
    }
  }
}
