.result-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .result-heading {
    .result-title {
      .result-quantity,
      .query {
        display: inline-block;
        color: #0b0b0b;
        font-size: 14px;
      }
      .result-quantity {
        font-weight: 500;
      }
      .query {
        font-weight: 500;
        margin-left: 0.25em;
      }
    }
    .result-subtitle {
      font-weight: 300;
      padding: 0px 8px;
      font-size: 13px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .view-all {
    text-decoration: underline;
    color: #0b0b0b;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
}
