.product-option-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  .option-type {
    color: black;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 8px;
    display: flex;
    gap: 2px;
    cursor: pointer;
    .option-prompt-label {
      white-space: nowrap;
      margin-bottom: 4px; // this is to match -webkit- height
    }
    .option-prompt {
      font-weight: 400;
      display: -webkit-inline-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .option-prompt-tooltip {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: #f0f1f7;
    }
    &:hover {
      .option-prompt-tooltip {
        display: block;
      }
    }
  }

  .options-container {
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    align-items: center;
    padding: 0 10px;
    .nav-button-prev,
    .nav-button-next {
      position: absolute;
      transform: translateY(-50%);
      transition: opacity 200ms ease-in-out;
      line-height: 14px;
    }

    .nav-button-prev {
      top: calc(50% - 3px);
      left: -2px;
    }
    .nav-button-next {
      top: 50%;
      right: 0;
    }

    .option {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      text-align: center;
      border-radius: 50%;
      font-size: 16px;
      color: black;
      font-weight: 300;
      .option-label {
        z-index: 2;
      }
      .option-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f0f1f7;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    .option.selected {
      border: 1px solid black;
      .option-label {
        color: white;
      }
      .option-background {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background-color: #2a2f4f;
      }
    }

    div.out-of-stock {
      cursor: not-allowed;
      &::after {
        content: "";
        position: relative;
        z-index: 3;
        width: 100%;
        height: 1px;
        background-color: #474747;

        transform: rotate(45deg);
      }
    }
  }
}

@media only screen and (max-width: 545px) {
  .product-option-container {
    margin-top: 5px;
    width: 100%;
    max-width: 250px;
  }
}
.swiper {
  margin: 0 !important;
  padding: 0 5px;
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
  }
}
