.click-to-pay{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__btn-container{
      display: flex;
    }
    &__btn{
      display: flex;
      align-items: center;
      text-decoration: underline;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #000;
    }
  }