$primary-color: #202340;
$primary-color-dark: #2e2c38;
$primary-background: #f0f1f7;
$secondary-background: #545871;
$overlay-background: rgba(240, 241, 247, 0.8);
$product-icon-color: invert(22%) sepia(5%) saturate(3996%) hue-rotate(205deg)
  brightness(159%) contrast(89%);
$product-icon-color-inverted: invert(1) sepia(0) saturate(0) hue-rotate(0)
  brightness(100%) contrast(100);
$white: #fff;
$border-color: #dadbe6;
$border-color-dark: #414467;
$highlight-color: #00768f;
